#game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 600px;
    height: 600px;
}
#g_image{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 250px;
    font-size: 80px;
}
#g_choices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 600px;
    height: 300px;
}
.g_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 20px;
    
}