#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 600px;
    height: 600px;
    position: absolute;
    top: 0px;
    transition: 500ms ease-in;
}
.m_button{
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 200px;
    margin: 35px;
    transition: 500ms;

    color: #222222;
    font-weight: 600;
}
.m_button:hover{
    background-color: #222222;
    border: 2px solid #eeeeee;
    opacity: 1;

    color: #eeeeee;
}

